<div class="jumbotron">
  <div class="container">
    <h1>No wishes to purchase</h1>
    <p>You have no wishes ? How is it possible ? I have some suggestions for you:</p>
    <ul>
      <li><a href="http://www.apple.com">A computer?</a></li>
      <li><a href="http://powersports.honda.com/">A moto?</a></li>
      <li><a href="http://www.amazon.com/">Some books?</a></li>
      <li><a href="http://www.robotslab.com/Robot/NAO%20H25">No... I know what you need... a new friend !</a></li>
    </ul>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href="#/wish/new">Add a wish</a>
    </div>
  </div>
</div>
