body { padding-top: 70px; }
footer { padding-bottom: 30px; }
.progress .progress-bar {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
